<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <p class="sidebar-menu-title">Menu</p>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('app_dashboard')}}">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Tableau de bord</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Projets</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="mdi mdi-cube-outline menu-icon"></i>
        <span class="menu-title">Hébergements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="mdi mdi-alarm-multiple menu-icon"></i>
        <span class="menu-title">Alertes & Notifications</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="mdi mdi-folder-account menu-icon"></i>
        <span class="menu-title">Développeurs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="typcn typcn-user-outline menu-icon"></i>
        <span class="menu-title">Mon compte</span>
      </a>
    </li>
  </ul>
  <ul class="sidebar-legend">
    <li>
      <p class="sidebar-menu-title">Status</p>
    </li>
    <li class="nav-item"><a href="#" class="nav-link"># A faire</a></li>
    <li class="nav-item"><a href="#" class="nav-link"># En cours</a></li>
    <li class="nav-item"><a href="#" class="nav-link"># Terminé</a></li>
  </ul>
</nav>