<nav class="sidebar sidebar-offcanvas " id="sidebar">
  <ul class="nav">

    <li class="nav-item  ">
      <p class="sidebar-menu-title">Menu</p>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{path('app_user_dashboard')}}">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Tableau de bord</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{{path('app_projet_devloppeur')}}">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Projets Assigné</span>
      </a>
    </li>
 
  

    <li class="nav-item">
      <a class="nav-link" href="{{path('app_compte_user')}}">
          <i class="typcn typcn-user-outline menu-icon"></i>
        <span class="menu-title">Mon compte</span>
      </a>
    </li>

  </ul>




  <ul class="sidebar-legend">
    <li>
      <p class="sidebar-menu-title">Status</p>
    </li>
    <li class="nav-item"><a href="#" class="nav-link"># A faire</a></li>
    <li class="nav-item"><a href="#" class="nav-link"># En cours</a></li>
    <li class="nav-item"><a href="#" class="nav-link"># Terminé</a></li>
  </ul>
</nav>