{% extends 'base_dashboard.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}

    {{ form_start(form) }}
      <div class="input-group mb-3" style="max-width: 400px;">
        {{ form_row(form.search) }}
          <button type="button" class="btn btn-social-icon btn-info btn-rounded">
              <svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true" class="DocSearch-Search-Icon">
                  <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                  </path>
              </svg>
          </button>   
      </div>
    {{ form_end(form) }}
    <h2>Résultats</h2>

{% endblock %}
