    <h2 class="text-center mb-4">Supprimer une technologie </h2>
        <div class="input-group">
                <input type="text" id="nom" class="form-control" placeholder="Nom du projet à supprimer ">
        </div>

