    <!-- Modal delete pop_up-->
    <div class="modal fade" id="projectModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <h1 class="modal-title text-info w-100 text-center mb-4" id="name" style="display: none;"></h1>  
                <div class="modal-body">
                <h3 class="modal-title text-info w-100 text-center mb-4" id="deletemodal"></h3>              
                    <form action="" method="get" id="delete-form">
                        <input type="hidden" name="id_developpeur" id="id_developpeur">
                         <div class="modal-footer">
                        <button class="btn btn-info btn-sm delete" type="submit">Confirmer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 

